<h2>Keywords</h2>
  

      <div class="card my-5">
        <div class="card-body">
          <th>
            <input type="text" id="name" placeholder="keyword" title="keyword">  
          </th>
          <th>
            <button type="submit" >Add</button>
          </th>
          
          <table class="thead-dark" class="table table-bordered table-striped">
            <thead >
             
              <tr class="thead-dark" >
                <td  class="thead-dark"scope="col">Keyword</td>
                <td  class="thead-dark"scope="col">Delete</td>
                <td  class="thead-dark"scope="col">Confirm</td>
                
              </tr>
              <tr >
                
                <td>Innovation</td>
                <th><button type="submit" >Delete</button></th>
                <th><button type="submit" >Confirm</button></th>
              </tr>
              <tr>
                <td>Brevet</td>
                <th><button type="submit" >Delete</button></th>
                <th><button type="submit" >Confirm</button></th>
              </tr>
              

            </thead>
            
          </table>
        </div>
        </div>
 
