<h2>Confirm Site</h2>
  

      <div class="card my-5">
        <div class="card-body">
            
          <table class="thead-dark" class="table table-bordered table-striped">
            <thead >
            
              <tr class="thead-dark" >
                <td  class="thead-dark"scope="col">Company name</td>
                <td class="thead-dark" scope="col">Site Name</td>
                <td  class="thead-dark"scope="col">Link</td>
                <td >Delete</td>
                <td>Confirm</td>
              </tr>
              <tr >
                <td></td>
                <td></td>
                <td></td>
                <th><button type="submit" >Delete</button></th>
                <th><button type="submit" >Confirm</button></th>
              </tr>
              

            </thead>
            
          </table>
        </div>
        </div>
 
